@media screen and (max-width: 600px) {
  .container input,
  .container textarea {
    width: auto !important;
  }
  .upload__image-wrapper button {
    margin: 10px;
    width: 85%;
  }
  .form__button {
    margin: auto !important;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.container input,
.container textarea {
  width: 350px;
  float: right;
  margin-left: auto;
  margin-right: auto;
}

.container label {
  width: auto;
  float: center;
  margin-right: auto;
  align-items: center;
}

.form__button {
  display: flex;
  margin: 10px;
  padding-left: 5px;
}

.form__button button:hover {
  background-color: blue !important;
}

.button__group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.upload__image-wrapper {
  flex-direction: row;
  justify-content: space-around;
}

.ant-row {
  width: 50%;
  margin-right: auto !important;
  margin-left: auto !important;
}

.ant-form-item {
  margin-right: auto !important;
  margin-left: auto !important;
}

.poster__header {
  margin-bottom: 50px;
}