.container-pdf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  /* padding: 20px; */
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 100px;
}

/* .container-pdf .ant-form-item-control-input {
  width: 200px;
} */

.pdf-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form__button {
  padding-left: 5px;
}

.button__group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.poster__header {
  margin-bottom: 20px;
}
