.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.container input,
.container textarea {
  width: 250px;
  float: right;
  margin-left: auto;
  margin-right: auto;
}

.container label {
  margin-right: auto;
  align-items: center;
}

.form__button {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 5px;
}

.button__group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.upload__image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ant-row {
  width: 50%;
  margin-right: auto !important;
  margin-left: auto !important;
}

.ant-form-item {
  margin-right: auto !important;
  margin-left: auto !important;
}

.poster__header {
  margin-bottom: 50px;
}